<form action="/apartments" method="post">
  <div class='apartment_name'>
    <label for="apartment_name">Enter the name for your new property:</label>
    <input name="apartment_name" placeholder="Property Name" type="text" value="<%= params[:apartment_name] %>">
  </div>
  <div class="apartment_address">
    <label for="apartment_address">Enter the address of your property </label>
    <input name="apartment_address" placeholder="123 your address" type="text" value="<%= params[:apartment_address] %>">
  </div>
  <div class="apartment">
    <input type="submit" value="Save">
    <a href='/apartments?page_count=0'>Cancel</a>
  </div>
</form>
