<ul>
  <% @apartments.each do |building| %>
    <li>
      <a href='/apartments/<%= building[:id] %>'>
        <h2><%= building[:name] %></h2>
      </a>
    </li>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a href='/apartments/new'>Add new apartment building</a>
<% end %>