<form action="/apartments/<%= @apartment_id %>" method="post">
  <div class='tenant_name'>
    <label for="tenant_name">Enter the name of the tenant:</label>
    <input name="tenant_name" placeholder="First and Last Name" type="text" value="<%= params[:tenant_name] %>">
  </div>
  <div class="unit_rent">
    <label for="unit_rent">Enter the rent for the unit </label>
    <input name="unit_rent" placeholder="Unit Rent" type="text" value="<%= params[:unit_rent] %>">
  </div>
  <div class="unit">
    <input type="submit" value="Save">
    <a href='/apartments/<%= @apartment_id %>?page_count=0'>Cancel</a>
  </div>
</form>
